<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title>Widget</title>
</head>

<body>
<div id="nmodes-widget" data-api_key='<%= api_key %>' data-theme="<%= theme %>"></div>
<script src="./widget"></script>
</body>
</html>
