#nmodes-widget {
  border: none;
  display: block;
  height: 76px;
  width: 76px;
  position: fixed;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  visibility: visible;
  z-index: 2147483647;
  max-height: 100vh;
  max-width: 100%;
  transition: none 0s ease 0s;
  background: none transparent;
  opacity: 1;
}
#nmodes-widget.open {
}

#nmodes-widget-container {
  z-index: 99999;
  border: none;
  display: block;
  height: 76px;
  width: 76px;
  position: fixed;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  visibility: visible;
  max-height: 100vh;
  max-width: 100%;
  transition: none 0s ease 0s;
  background: none transparent;
  opacity: 1;
}
